@import url('https://fonts.cdnfonts.com/css/product-sans');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: #f1f3f4;
}

::-webkit-scrollbar-thumb {
    border-color: transparent;
    border-radius: 8px;
    border-style: solid;
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track-piece {
    border-width: 4px !important;
}